---
import Layout from "../../layouts/Layout.astro";
import { css } from "../../../styled-system/css";
import "../../index.css";
import { releaseNotes, type ReleaseNote } from "../../releaseNote";
import { format } from "date-fns";
---

<Layout title="ScombZ Utilities">
  <main>
    <div
      class={css({
        display: "flex",
        flexDirection: "column",
        justifyContent: "center",
        alignItems: "center",
        width: "100%",
      })}
    >
      <h1
        class={css({
          fontSize: "150%",
          fontWeight: "bold",
          textAlign: "center",
          mt: "2rem",
          mb: "1rem",
        })}
      >
        ScombZ Utilities リリースノート
      </h1>

      {
        releaseNotes.map((note) => (
          <div
            class={css({
              width: "100%",
              px: "1rem",
              pb: "2rem",
              mt: "2rem",
            })}
          >
            <a href={`/release/${note.version}`}>
              <h2
                class={css({
                  fontSize: "110%",
                  cursor: "pointer",
                  "&:hover": {
                    textDecoration: "underline",
                  },
                })}
              >
                ver. {note.version}
              </h2>
            </a>
            <p
              class={css({
                fontSize: "90%",
                color: "#666",
              })}
            >
              {format(new Date(note.date.chrome), "yyyy-MM-dd")}
            </p>
            <div>
              {note.contents.map((n) => (
                <>
                  <h4
                    class={css({
                      fontSize: "100%",
                      mt: "1rem",
                    })}
                  >
                    {n.title}
                  </h4>

                  <p
                    class={css({
                      px: ".5rem",
                      fontSize: "90%",
                    })}
                  >
                    {n.explain}
                  </p>
                </>
              ))}
            </div>
          </div>
        ))
      }

      <a
        href="/release/legacy"
        class={css({
          color: "{colors.indigo.700}",
          textDecoration: "underline",
          my: "2rem",
        })}>レガシー版 (~ver 3.23.3)のリリースノートを見る</a
      >
    </div>

    <style>
      main {
        margin: auto;
        padding: 1rem;
        width: 100%;
        max-width: calc(100% - 2rem);
        color: #000;
        font-size: 20px;
        line-height: 1.6;
      }
    </style>
  </main>
</Layout>
