---
import { css } from "../../styled-system/css";
import { FaChrome, FaFirefox, FaEdge } from "react-icons/fa";

const hrefs = {
  chrome:
    "https://chrome.google.com/webstore/detail/scombz-utilities/iejnanaabfgocfjbnmhkfheghbkanibj",
  firefox: "https://addons.mozilla.org/ja/firefox/addon/scombz-utilities/",
  edge: "https://microsoftedge.microsoft.com/addons/detail/scombz-utilities/eoddaffbjpphchhdhhfigcijjjbgjhcp",
};

const browsers = [
  { name: "Chrome", href: hrefs.chrome, icon: FaChrome },
  { name: "FireFox", href: hrefs.firefox, icon: FaFirefox },
  { name: "Edge", href: hrefs.edge, icon: FaEdge },
];
---

<div
  class={css({
    display: "flex",
    gap: 3,
    justifyContent: "center",
    flexDirection: "column",
  })}
>
  {
    browsers.map((browser) => (
      <a href={browser.href}>
        <div
          class={css({
            width: "100%",
            maxWidth: 600,
            mx: "auto",
            display: "flex",
            alignItems: "center",
            justifyContent: "center",
            padding: 2,
            borderRadius: 4,
            color: "{colors.cyan.800}",
            border: "1px solid {colors.cyan.800}",
            gap: 3,
            cursor: "pointer",
            userSelect: "none",
            transition: "all 0.2s",
            "&:hover": {
              border: "1px solid {colors.cyan.600}",
              color: "{colors.cyan.600}",
            },
          })}
          id={browser.name}
        >
          <browser.icon size={24} />
          Install for {browser.name}
        </div>
      </a>
    ))
  }
  <a
    href="https://chromewebstore.google.com/detail/scombz-utilities-legacy/endkimgclflkacjnihgghccojiffbmil?hl=ja&authuser=0"
    class={css({
      textDecoration: "underline",
      color: "{colors.stone.600}",
      textAlign: "center",
      fontSize: "90%",
    })}
  >
    または旧バージョンをインストール
  </a>
</div>

<style>
  .now-browser {
    background-color: #155e75 !important;
    color: #fff !important;
  }
  .now-browser:hover {
    background-color: #0e7490 !important;
  }
</style>

<script>
  function highlightCurrentBrowser(element: HTMLDivElement) {
    element.classList.add("now-browser");
    const parent = element.parentNode as HTMLDivElement;
    parent.insertBefore(element, parent.firstChild);
  }

  const ua = navigator.userAgent;
  const isChrome = ua.indexOf("Chrome") > -1;
  const isFirefox = ua.indexOf("Firefox") > -1;
  const isEdge = ua.indexOf("Edg") > -1;
  if (isEdge) {
    highlightCurrentBrowser(document.getElementById("Edge") as HTMLDivElement);
  } else if (isChrome) {
    highlightCurrentBrowser(
      document.getElementById("Chrome") as HTMLDivElement,
    );
  } else if (isFirefox) {
    highlightCurrentBrowser(
      document.getElementById("FireFox") as HTMLDivElement,
    );
  }
</script>
